/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('poppins-v12-latin/poppins-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('poppins-v12-latin/poppins-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('poppins-v12-latin/poppins-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('poppins-v12-latin/poppins-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('poppins-v12-latin/poppins-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('poppins-v12-latin/poppins-v12-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('poppins-v12-latin/poppins-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
       url('poppins-v12-latin/poppins-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('poppins-v12-latin/poppins-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('poppins-v12-latin/poppins-v12-latin-600.woff') format('woff'), /* Modern Browsers */
       url('poppins-v12-latin/poppins-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('poppins-v12-latin/poppins-v12-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
