<div class="message-banner">
  <h4>Magento 1.x Software Support Notice</h4>
  <p>
    For Magento Commerce 1, Magento is providing software support through June 2020. Depending on your Magento Commerce 1 version, software support may include both quality fixes and security patches. Please review our <a href="https://magento.com/sites/default/files/magento-software-lifecycle-policy.pdf">Magento Software Lifecycle Policy</a> to see how your version of Magento Commerce 1 is supported.
  </p>
  <p>
After its End of Life, Magento 1 will not be available for the general public. Adobe will remove all download links, links to the documentation and will stop releasing patches even for critical bugs and security issues. That’s where OpenMage comes in, keeping Magento CE healthy and up to the current standards.   </p>
<p>OpenMage LTS is designed to take place of Magento 1 and benefit its community. Please visit us at <a href="https://www.openmage.org/">OpenMage Project</a></p>
</div>
