<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/common/css/stylesheet.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/common/css/stylesheet-fonts.css" type="text/css">
	<link rel="icon" href="{{ site.baseurl }}/common/css/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="{{ site.baseurl }}/common/css/favicon.ico" type="image/x-icon">
	{% include v1x/header-scripts.html %}
	<title>{{ page.title }}</title>
</head>