<nav class="site-nav">

  <div class="menu-btn">
    <button id="menu-btn" class="menu-trigger menu-icon" aria-haspopup="true" aria-controls="nav-main"></button>
  </div>

  <div class="nav-container">

    <a class="logo" href="{{ site.baseurl }}/">
      <svg width="257" height="63" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
        <defs>
         <style>.ba{fill:#fb0e70;}
                   .bb{fill:#fff;font-size:45px;}
                   .bb,.bc{font-family:Poppins-SemiBold, Poppins;font-weight:600;letter-spacing:-0.05em;fill:#F1F1F1}
                   .bc{fill:#707070;font-size:38px;}</style>
        </defs>
        <g class="layer">
         <title>OpenMage Magento</title>
         <path class="ba" d="m11,3.25l34,0a8,8 0 0 1 8,8l0,34a0,0 0 0 1 0,0l-42,0a0,0 0 0 1 0,0l0,-42a0,0 0 0 1 0,0z"/>
         <text class="bb" id="svg_2" x="0" y="47">
          <tspan x="0" y="47">m</tspan>
         </text>
           <text class="bc" transform="translate(56 40)">
               <tspan x="0" y="0">openmage</tspan>
           </text>
        </g> 
       </svg>
      <span class="site-logo">{{ site.logo }}</span>
    </a>

    <div id="nav-main" class="nav-main-wrap" aria-labelledby="menu-btn">
      {% include layout/version-switcher.html %}
      {% include layout/navigation.html %}
    </div>

    <div class="search-btn">
      <button class="search-trigger search-icon" aria-label="Search"></button>
    </div>

    <form class="quick-search" action="{{ page.baseurl }}/search.html" method="get" novalidate="novalidate">
      <input type="search" name="q" placeholder="Search" />
      <button class="quick-search-close" aria-label="Close Search">&times;</button>
    </form>

  </div>

</nav><!-- #site-nav -->
<div class="nav-main-fader"></div>
